<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>

{{!-- io.engine.clientCount
EVENTO -> chat:users
1- Al conectarnos enviar el número de clientes conectados al resto de clientes --}}
